@page "/Library"

<h3>Library</h3>

<!-- Search by Writer -->
<input @bind="SearchWriterQuery" @oninput="OnSearchChanged" class="form-control mb-3" placeholder="Search by writer..." />

<!-- Search by Book Title -->
<input @bind="SearchBookQuery" @oninput="OnSearchChanged" class="form-control mb-3" placeholder="Search by book title..." />

<!-- Dropdown to Filter by Genre -->
<select @bind="SelectedGenre" @bind:event="onchange" class="form-control mb-3">

    <option value="">All Genres</option>
    @foreach (var genre in Genre)
    {
        <option value="@genre">@genre</option>
    }
</select>

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Author First Name</th>
                <th>Author Last Name</th>
                <th>Title</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
            {
                <tr>
                    <td>@book.Writer.FirstName</td>
                    <td>@book.Writer.LastName</td>
                    <td><i>@book.BookTitle</i></td>
                    <td>@book.Genre.GenreName</td>
                </tr>
            }
        </tbody>
    </table>
}
